// 
  File:         _share_classes.sass
  Description:  Frequently used classes.
  Required:     _shared_mixins.sass. 
  ------------------------------------------------------------------------ {{{
.dn, .hidden
  +dn
.dib
  +dib
.clr, .clear
  clear: both
  font-size: 0
  height: 0
  line-height: 0
  +oh
.fr, .float-right
  +fr
.fl, .float-left
  +fl
.vam, .valign-middle
  +vam
.tac, .align-center
  +tac
.tal, .align-left
  +tal
.tar, .align-right
  +tar
// Shared classes }}}
